REDIS_ADDR=MY_REDIS_ADDRESS

REDIS_PASS=

REDIS_DB=0

REDIS_PROTOCOL=3

MONGO_URI=mongodb://service.address/liobase

IMAGE_PROCESSOR_PATH=bin/image-processor

GATEWAY_PORT=3000

AUTH_SERVER_PORT=50051
IAM_SERVER_PORT=50052
MEDIA_SERVER_PORT=50053

AUTH_SERVER_ADDR=auth-service:50051
IAM_SERVER_ADDR=iam-service:50052
MEDIA_SERVER_ADDR=media-service:50053

COOKIE_SESSION_ID_STRING=session_id

COOKIE_SESSION_MAX_AGE=6000

COOKIE_SESSION_PATH=/

COOKIE_SESSION_DOMAIN=

COOKIE_SESSION_SECURE=false

COOKIE_SESSION_HTTP_ONLY=true

COOKIE_USER_ID=userid


DB_USER=user
DB_PASSWORD=password
DB_HOST=us-west-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=production

AWS_S3_ACCESS_KEY=s3_access_key
AWS_S3_SECRET_KEY=s3_secret_key
AWS_S3_REGION=us-west-1
AWS_S3_BUCKET_NAME=bucket


API_KEY_HEADER=1234
API_SECRET_HEADER=1234

TEST_COOKIE=test